#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid black;
}
#calculator{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid black;
    height: 1200px;
    width: 1200px;
    background-color: #A8A8A8;

}
#screen{
    margin-top: 10px;
    height: 200px;
    width: 1000px;
    border: solid black;
    background-color: white;
    
}
#numberpad{
    display: flex;
    height: 750px;
    width: 1000px;
    border: solid black;
    background-color: #F0F0F0;
}

#numbers {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: solid black;
    width: 750px
}

#operators {
    width: 250px;
    border: solid black;
}

#operators div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24%;
    width: 225px;
    margin: 5px;
    background-color: grey;
    font-size: 90px;
    text-align:center;
}